body {
    font-family: 'Graphik', sans-serif;
}

.main-title {
    color: #00497C;
}

 .main-hr {
    margin: auto;
    max-width: 300px;
    color: #00497C;
}

section {
    margin-top: 2em;
}
.section-title {
    color: #00497C;
}

.bloc-etapes {
    list-style-position: inside;
}

.home-pictures {
    max-width: 460px;
    height: 400px;
}

.home-pictures img {
    height: 100%;
    object-fit: cover;
}

.top-card {
    position: relative;
    width: 350px;
    height: 200px;
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: rgb(0, 116, 199);
    
}

.card-infos {
    color: #fff;
}

.medal-icon {
    position: absolute;
    right: 3.16%;
    left: 75%;
    top: 3.05%;
    bottom: 78.88%;

}


@media screen and (max-width: 768px) {

    .home-pictures {
        display: none;
    }

    .remove-hr {
        display: none;
    }

    .medal-icon {
        position: absolute;
        right: 3.16%;
        left: 65%;
        top: 3.05%;
        bottom: 78.88%;
    
    }
    
}


