
footer {
    background-color: #0074C7;
    color: #fff;
}



.footer-logo {
    max-width: 350px;
    height: auto;
}


.footer-adress h2 {
    font-weight: bold;
}

.footer-menu {
    list-style: none;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

hr {
    margin: auto;
    max-width: 300px;
}