nav {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    border-bottom: 3px solid #f1f8fc;
    box-shadow: 0 0 1px rgba(0, 0, 0, .0793474);
    height: 90px;
};

ul {
    // list-style: none;
    // display: flex;
    // justify-content: space-evenly;
    padding: 0; 
};

li {
    margin-right: 12px;
}

a {
    color: #0074c7 !important;
};

.banniere {
    width: 100%;

};